<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Show</title>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Add a Show</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/create/show" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Add a Show</h2>
        {% with messages = get_flashed_messages(category_filter=['show']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <div class="col-4">
                <div class="form-group">
                    <label for="name">Title:</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="instructions">Network:</label>
                    <textarea name="network" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="description">Release Date:</label>
                    <textarea name="release_date" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="instructions">Description:</label>
                    <textarea name="description" cols="30" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div>
                <input type="submit" value="Add Show" class="btn btn-primary">
            </div>
        </div>
    </form>
</body>
</html>