<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <body>
        <h1>Welcome {{user["first_name"]}}</h1>
        <a href="/add/show">Add Show</a> |  |
        <a href="/logout">Logout</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color:red">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>Shows</h2>
        <table width="800" border="1">
            <tr>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
            {% for s in shows %}
            <tr>
                <td><a href="/show/{{s.id}}">{{s.title}}</a></td>
                <td>{{s.network}}</td>
                <td>{{s.release_date}}</td>
                <td><a href="{{s.title}}"></a><br>
                    {% if s.user_id == session["user_id"] %}
                        <a href="/delete/{{s.id}}">Delete</a>
                        <a href="/edit/show/{{s.id}}">Edit</a>
                    {% endif %}
                </td> 
            </tr>
            {% endfor %}
        </table>
    </body>
</body>
</html>