<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome {{session["first_name"]}}</title>
</head>
<body>
    <h1>Welcome {{session["first_name"]}}</h1>
    <a href="/add/painting">Add Painting</a> | 
    <a href="/edit/painting">Edit Painting</a> |
    <a href="/logout">Logout</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Paintings</h2>
    <table width="800" border="1">
        <tr>
            <th>Artist</th>
            <th>Painting</th>
            <th>Price</th>
        </tr>
        {% for uj in users_paintings %}
        <tr>
            <td>{{uj.painting.artist}}</td>
            <td><a href="{{uj.painting.painting}}"></a><br>
                {% if uj.id == session["user_id"] %}
                    <a href="/delete/{{uj.painting.id}}">Delete</a>
                    <a href="/edit/{{uj.painting.id}}">Edit</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>