<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
</head>
<body>
    <h1>Add a New User</h1>
    <a href="/">Home</a>
    <br><br>
    <p>First Name:</p><br>
    <input type="text"><br><br>
    <p>Last Name:</p><br>
    <input type="text"><br><br>
    <p>Email:</p><br>
    <input type="email"><br><br>
    <button type="submit">Create</button><br><br>
    
</body>
</html>