<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard XxY</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='checkerboard.css') }}">
</head>
<body>
    <h1>Checkerboard</h1>
    <div id = "checkerboard">
        <table>
            {% for i in range(number) %}
            <tr>
                {% for j in range(x) %}
                <td class = "light"></td>
                <td class = "dark"></td>
                {% endfor %}
            </tr>
            <tr>
                {% for k in range(y) %}
                <td class = "dark"></td>
                <td class = "light"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

</body>
</html>