<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{user.first_name}}'s Painting</title>
</head>
<body>
    <h1>Add a Painting</h1>
    <a href="/dashboard">Dashboard</a> |<a href="add/painting">Add Painting</a> | <a href="/logout">Logout</a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <form action="/edituser" method="POST">
        Title<br>
        <input type="text" name="title" value="{{user.painting.title}}"><br><br>
        Description<br>
        <input type="text" name="description" value="{{user.painting.description}}"><br><br>
        Price<br>        
        <input type="text" name="price" value="{{user.painting.price}}"><br><br>
        <!--<textarea>jinga here</textarea> pre-populate textarea-->
        <input type="submit" value="Update">
    </form>
</body>
</html>