<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register/Login - Joke Mill</title>
    <style>
        .forms{
            width:450px;
            display: flex;
            justify-content: space-between;
            margin-left:20px;
        }
    </style>
</head>
<body>
    Login and registration forms go here
</body>
</html>