<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{one_user_jokes.first_name}}'s Jokes</title>
</head>
<body>
    <h1>{{one_user_jokes.first_name}}'s Submitted Jokes</h1>
    <a href="/dashboard">Back</a> | <a href="/logout">Logout</a>
    <br><br>
    <table border="1" width="500">
        <tr>
            <th>Comedian</th>
            <th>Joke</th>
        </tr>
        {% for uj in one_user_jokes.jokes %}
        <tr>
            <td>{{uj.comedian}}</td>
            <td>{{uj.joke}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>