<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{one_user_paintings.first_name}}'s Paintings</title>
</head>
<body>
    <h1>{{one_user_paintings.first_name}}'s Submitted Paintings</h1>
    <a href="/dashboard">Dashboard</a> | <a href="/logout">Logout</a>
    <br><br>
    <table border="1" width="500">
        <tr>
            <th>Artist</th>
            <th>Painting</th>
        </tr>
        {% for uj in one_user_paintings.paintings %}
        <tr>
            <td>{{uj.artist}}</td>
            <td>{{uj.painting}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>