<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Meme</title>
</head>
<body>
    <h1>Edit {{meme.name}}'s' Meme</h1>
    <form method = "POST" action = "/editmeme/{{meme.id}}">
        <input type = "text" name = "name" value = "{{meme.name}}"><br><br>
        <input type = "text" name = "meme_url" value = "{{meme.meme_url}}"><br><br>
        <input type = "submit" value = "Edit Meme">
    </form><br><br>
</body>
</html>